@import url("reset.css");
@import url("micro-clearfix-hack.css");
@import url(http://fonts.googleapis.com/css?family=Average|Belgrano);


body {
    color: #d3d1d1;
    background: rgb(252, 249, 233);
    max-width: 960px;
    margin: 0 auto;
    font-size: 9pt;/*62.5%;*/
    font-family: Average, Georgia, serif;
}


#container {
    font-size: 1.6em;
}

ol, ul {
	list-style: none;
}

div {
}

h1, h2, h3 {
    font-weight: bold;
    /*font-family: Belgrano, Georgia, serif;*/
    padding: 0 0 4px 0;
}

h1 {
    font-size: 1.8em;
    padding: 0 0 10% 0;
    /*text-align:center;*/
}

h2 {
    font-size: 1.2em;
}

header nav {
    margin: 3em 0 1.2em 0;
    float: left;
}

    header nav li:hover > ul {
        visibility: visible;
    }

    header nav > ul {
        padding: 0 14px;
        border: rgba(143, 128, 128, 0.57) solid 1px;
        max-width: 960px;
        border-radius: 20px;
        background: white;
    }

        header nav > ul > li {
            display: inline-block;
        }

            header nav > ul > li:first-child {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            header nav > ul > li:last-child {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

    header nav li {
        max-width: 400px;
    }

    header nav ul ul {
        border: black solid 1px;
        border-radius: 15px;
        background: white;
        padding: 20px 0;
        position: absolute;
        min-width: 200px;
        visibility: hidden;
    }

    header nav ul li a {
        color: #3b2929;
        padding: 10px 20px;
        display: block;
    }

        header nav ul li a:hover {
            background: #5a7dce;
            color:white;
            /*color: #38b333;*/
        }

    header nav > ul > li > ul > li > ul {
        transform: translate(100px,-57px);
    }

p {
    padding: 1.6em;
}

                 
#mainContent, #contact {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px; 
    line-height:1.6em;
}




li article {
    border-top: 1px dotted #DDD;
    padding: 4px;
    margin: 10px 0 4px 0;
}

blockquote p:before {
    content: "\201C";
}

blockquote p:after {
    content: "\201D";
}

blockquote cite {
    margin: 0 0 0 1.2em;
}

    blockquote cite:before {
        content: "- ";
    }

    blockquote cite a {
        font-size: 0.85em;
    }

#mainContent {
    padding: 6.6%;
    max-height:650px;
}

#homeText {
    clear: both;
    width: 66.6%;
    float:left;
    /* border: red 1px solid;*/
}

#editFlyout {
    display:block;
    width:600px;
    position:fixed;    
}

#editArea {
    width: 800px;
}

#homeImages {
    float: right;
   /*border: red 1px solid;*/
}

    #homeImages > image {
        padding: 1.8em 0.55em;
        display: block;
        width: 250px;
        height: 150px;
    }

#hypnoBirthing, #faq {
    overflow-y: scroll;
    max-height: 450px;
}

    #hypnoBirthingLogo {
        clear: both;
        margin: auto;
        vertical-align:central;
    }

#contactForm {
    width: 70%;
}


#contactForm input {
    margin: 5px auto;
    width:  500px;
}

#contactForm textarea {
    overflow-y: hidden;
    width:  500px;
    max-height: 1600px;
}


#testimonials {
    float: right;
    width: 25%;
    height:400px;
    overflow-y: scroll;
    transform: rotateY(-40deg) translateZ(-100px) translateX(-50px);
}

    #testimonials:hover {
    }

#contact #mainContent {
    perspective: 1000px;
    
}

#contact #pageText {
    padding: 2.2em 1.2em; 
}

#contact #pageImages{
    float:right;
}

section h1 {
    clear: left;
}

footer {
    clear: both;
    padding: 5% 0 0 0;
    text-align: center;
}

.underConstruction {
    /*background-image: url("http://tenebrousmagazine.com/sitebuildercontent/sitebuilderpictures/under_construction");*/
}

.glow {
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.glow:hover {
  cursor: pointer;
}

.glow::before, .glow::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #ff0;
  opacity: 0;
  transition: opacity 8s, transform 8s;
}

.on {
  background-color: #fff;
  box-shadow: 0 0 80px 40px #fff, 0 0 200px 100px #f0f;
}

.on::before {
  transform: translateX(-100px);
  opacity: 1;
}

.on::after {
  transform: translateX(100px);
  opacity: 1;
}